# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
downloads/
lib/
lib64/
var/
wheels/
share/python-wheels/
.installed.cfg

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
# poetry.lock

# Environments
.env
.env.secret
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# SSL certificates
cert/*.pem
cert/*.crt

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Cython debug symbols
cython_debug/

# Data (.csv files are heavy)
data/**/*.csv

# CatBoost model stuff
jupyters/catboost_info/*

# MLFlow stuff (commit only a specific model)
# /mlruns/*
# !mlruns/836438889763744696/bfb81fc4f057443eaa8aaf808d39951c/artifacts/model/model.cb
mlruns/*
!mlruns/836438889763744696
mlruns/836438889763744696/*
!mlruns/836438889763744696/47379e58abff4b18989898a5b6ecbe08/
mlruns/836438889763744696/47379e58abff4b18989898a5b6ecbe08/*
!mlruns/836438889763744696/47379e58abff4b18989898a5b6ecbe08/artifacts/
mlruns/836438889763744696/47379e58abff4b18989898a5b6ecbe08/artifacts/*
!mlruns/836438889763744696/47379e58abff4b18989898a5b6ecbe08/artifacts/model/
mlruns/836438889763744696/47379e58abff4b18989898a5b6ecbe08/artifacts/model/*
!mlruns/836438889763744696/47379e58abff4b18989898a5b6ecbe08/artifacts/model/model.cb

# Markdown
*.md
!README.md